@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gold: 177, 125, 5;
  }
}

.hero-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('https://images.unsplash.com/photo-1546519638-68e109498ffc?auto=format&fit=crop&q=80&w=2000');
  background-size: cover;
  background-position: center;
}